[user]
  name = Premnaath
  email = premnaathvaradharajan@gmail.com

[core]
  excludesfile = /Users/premnaath/.gitignore_global
  pager = delta
	editor = nvim

[interactive]
  diffFilter = delta --color-only

[merge]
	tool = vscode
  conflictstyle = diff3

[mergetool]
  keepBackup = false
  prompt = false

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[pull]
  rebase = true

[credential]
  helper = cache

[delta]
  navigate = true
  light = false
  side-by-side = true

[diff]
  colorMoved = default
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
