BasedOnStyle: GNU
Standard: Cpp11
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
IndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
Language: Cpp
NamespaceIndentation: All
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Right
SortIncludes: false
SpaceBeforeParens: Never
SpacesInContainerLiterals: false
AccessModifierOffset: -4
