lazygit/.config/lazygit/state.yml
colima/.config/colima/*
!colima/.config/colima/default/colima.yaml
nvim/.config/nvim/lazyvim.json
zed/.config/zed/prompts/*
zed/.config/zed/conversations/*
misc/app-config/Alfred.alfredpreferences/workflows/user.workflow.CE537436-12ED-4217-8CFF-953EEBA981FB/TZ_Asia__Kolkata/Library/Caches/*
vim/.vim/*
