[user]
	name = Premnaath
	email = premnaathvaradharajan@gmail.com

[core]
	excludesfile = /Users/premnaath/.gitignore_global

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	keepBackup = false
	prompt = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[credential]
	helper = cache
