<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.premnaath.spotifycontroller</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>139ABC17-672A-4E01-8C38-18B50DE267FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE5D19AA-1D1E-4BC0-80AB-6714C15079BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A935E69-25C6-44B0-BFEB-BDACD335104C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A01F3477-A60F-4B47-8F14-95840F6AF8D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24D2C2E9-2535-4982-B30D-0BB8CFD736FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D0F1CE2-2958-4CA6-989D-09333E6537AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31452AC8-F971-4716-A52C-1C1F8FB4080A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>436C180D-D31E-4C07-96E1-FD0644B2E66E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>333C09C9-2BF0-45D6-8DCB-FEB59276342E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE5D19AA-1D1E-4BC0-80AB-6714C15079BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4936E16A-2057-4B49-AD6C-AD9F297A14AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D0F1CE2-2958-4CA6-989D-09333E6537AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A4CB0A7-E167-4A2D-BEAA-7EF2047D14B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B255863F-7CF4-4A12-9CFB-7C8DBE5CBF06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D807ACE-4758-4FEF-9C44-EE0FEAA40AD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9354AEE7-97C4-4006-96DC-4E38E150B613</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6599A00D-9346-41A9-8172-A110FF4CFDAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCF0FB26-4A16-4232-9CBD-D26212BC3120</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C2F258-A406-407C-944B-6A0A1C0E83BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>064871A4-D550-4CA3-9CFE-3F0232DCD6E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70FAC2C4-3525-4C13-A053-D271B83A9241</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B255863F-7CF4-4A12-9CFB-7C8DBE5CBF06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>737209D4-4DFE-4766-9A5F-205CA96F4B0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCF0FB26-4A16-4232-9CBD-D26212BC3120</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7781E95D-3877-45D0-9E87-AD7712229D50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1616286-7487-41CA-B329-949244D618C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ADF8BF5-4EE5-4177-AF8D-CA8B7F389287</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1616286-7487-41CA-B329-949244D618C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>842DCE9C-8D9D-4A15-B862-02DC3271444A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35233D1A-C0E9-4E50-AA3D-0C8EF44CE05C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AEDEA42-3DFE-4C2C-9E17-D488E6FFF2FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6232DA68-D819-41AA-9283-4ABC7F92DB8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F5E3A47-1553-4F33-8E47-E5CEAC7A0C96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EACE22A3-29FA-4CA9-A089-56F93E5DEE33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93532B18-93CF-45F0-98BB-71D339C74495</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62E4606F-875D-448E-BFF9-E0402F6A2ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9354AEE7-97C4-4006-96DC-4E38E150B613</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCA72EF2-FA51-4883-82E2-6F2ABC8306F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A37EC2DE-5CA6-4329-83B4-553E1E73D4BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>842DCE9C-8D9D-4A15-B862-02DC3271444A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF36C9A8-2ED7-4FCE-A6B6-DFE8B9BCAB67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF890109-FC8F-4357-BD5F-8C804D9E893A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B53D5059-10EC-4C12-BCF1-AF8D19314A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>064871A4-D550-4CA3-9CFE-3F0232DCD6E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B93B1787-129D-4C94-BC18-AC24CA8240B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EACE22A3-29FA-4CA9-A089-56F93E5DEE33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAC80AA5-7BB6-436F-B376-26613F2C3B28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62E4606F-875D-448E-BFF9-E0402F6A2ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF7C5E78-EA2B-4021-8F9E-B9C152398C9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAC62C49-EF78-4A50-894E-6017F8DEE325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF020392-5D15-4623-8C50-A7A4DC86AE79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAC62C49-EF78-4A50-894E-6017F8DEE325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1616286-7487-41CA-B329-949244D618C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AEDEA42-3DFE-4C2C-9E17-D488E6FFF2FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EACE22A3-29FA-4CA9-A089-56F93E5DEE33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF36C9A8-2ED7-4FCE-A6B6-DFE8B9BCAB67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA22A0B6-4E8F-4546-ACB3-3F01F01248AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>842DCE9C-8D9D-4A15-B862-02DC3271444A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA7CACFE-A946-432A-922C-79D6BC758125</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A01F3477-A60F-4B47-8F14-95840F6AF8D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCF0FB26-4A16-4232-9CBD-D26212BC3120</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D807ACE-4758-4FEF-9C44-EE0FEAA40AD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDFF9E76-EEF9-423A-9FCA-C427B817EE1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>436C180D-D31E-4C07-96E1-FD0644B2E66E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Premnaath</string>
	<key>description</key>
	<string>Control Spotify anywhere</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotify Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4936E16A-2057-4B49-AD6C-AD9F297A14AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		next track
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8D0F1CE2-2958-4CA6-989D-09333E6537AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!nt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Next Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>24D2C2E9-2535-4982-B30D-0BB8CFD736FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>333C09C9-2BF0-45D6-8DCB-FEB59276342E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		previous track
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>EE5D19AA-1D1E-4BC0-80AB-6714C15079BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!pt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Previous Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>139ABC17-672A-4E01-8C38-18B50DE267FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!p</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Pause/Play</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FA7CACFE-A946-432A-922C-79D6BC758125</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1A935E69-25C6-44B0-BFEB-BDACD335104C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		playpause
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A01F3477-A60F-4B47-8F14-95840F6AF8D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set sound volume to sound volume + 11
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>436C180D-D31E-4C07-96E1-FD0644B2E66E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FDFF9E76-EEF9-423A-9FCA-C427B817EE1A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!vup</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Spotify Volume Up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31452AC8-F971-4716-A52C-1C1F8FB4080A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!vdown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Spotify Volume Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70FAC2C4-3525-4C13-A053-D271B83A9241</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set sound volume to sound volume - 11
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>B255863F-7CF4-4A12-9CFB-7C8DBE5CBF06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4A4CB0A7-E167-4A2D-BEAA-7EF2047D14B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!copy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy Spotify track URL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6599A00D-9346-41A9-8172-A110FF4CFDAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>737209D4-4DFE-4766-9A5F-205CA96F4B0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Spotify"		get spotify url of current track	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FCF0FB26-4A16-4232-9CBD-D26212BC3120</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied!</string>
				<key>title</key>
				<string>Spotify Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FCA72EF2-FA51-4883-82E2-6F2ABC8306F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9354AEE7-97C4-4006-96DC-4E38E150B613</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
sid=$(echo $query | sed "s/spotify:track://")
echo -n "https://open.spotify.com/track/$sid"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D807ACE-4758-4FEF-9C44-EE0FEAA40AD1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Spotify" to quit
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>842DCE9C-8D9D-4A15-B862-02DC3271444A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!quit</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Quit Spotify</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A37EC2DE-5CA6-4329-83B4-553E1E73D4BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FA22A0B6-4E8F-4546-ACB3-3F01F01248AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Spotify is closed</string>
				<key>title</key>
				<string>Spotify Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>35233D1A-C0E9-4E50-AA3D-0C8EF44CE05C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8F5E3A47-1553-4F33-8E47-E5CEAC7A0C96</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Shuffle toggled {query}</string>
				<key>title</key>
				<string>Spotify Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EF890109-FC8F-4357-BD5F-8C804D9E893A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!shuffle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Shuffle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B93B1787-129D-4C94-BC18-AC24CA8240B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
sid=$(echo $query)
echo -n "$sid"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF36C9A8-2ED7-4FCE-A6B6-DFE8B9BCAB67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set shuffling to not shuffling
		if shuffling then
			set isShuffling to "off"
		else
			set isShuffling to "on"
		end if
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>EACE22A3-29FA-4CA9-A089-56F93E5DEE33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Spotify"
		set repeating to not repeating
		if repeating then
			set isRepeating to "off"
		else
			set isRepeating to "on"
		end if
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E1616286-7487-41CA-B329-949244D618C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Loop toggled {query}</string>
				<key>title</key>
				<string>Spotify Commands</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6232DA68-D819-41AA-9283-4ABC7F92DB8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7781E95D-3877-45D0-9E87-AD7712229D50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
sid=$(echo $query)
echo -n "$sid"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AEDEA42-3DFE-4C2C-9E17-D488E6FFF2FC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!loop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Loop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7ADF8BF5-4EE5-4177-AF8D-CA8B7F389287</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!song</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Current Track Information</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70C2F258-A406-407C-944B-6A0A1C0E83BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Spotify"

		set currentTrack to the current track
		set currentName to the name of currentTrack as string		set currentArtist to the artist of currentTrack as string
		set currentAlbum to the album of currentTrack as string

		display notification "by " &amp; currentArtist &amp; " from the album " &amp; currentAlbum with title currentName 
		  	end tell

end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>064871A4-D550-4CA3-9CFE-3F0232DCD6E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B53D5059-10EC-4C12-BCF1-AF8D19314A93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!pl1</string>
				<key>subtext</key>
				<string>LoFi Beats</string>
				<key>text</key>
				<string>Play Playlist</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93532B18-93CF-45F0-98BB-71D339C74495</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CAC80AA5-7BB6-436F-B376-26613F2C3B28</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	tell application "Spotify"
			-- Paste IN BETWEEN quotations on the line below			play track "spotify:playlist:37i9dQZF1DWWQRwui0ExPn"	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>62E4606F-875D-448E-BFF9-E0402F6A2ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CF7C5E78-EA2B-4021-8F9E-B9C152398C9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!pl2</string>
				<key>subtext</key>
				<string>Songs to Sing in the Car</string>
				<key>text</key>
				<string>Play Playlist</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DF020392-5D15-4623-8C50-A7A4DC86AE79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	tell application "Spotify"
			-- Paste IN BETWEEN quotations on the line below			play track "spotify:playlist:37i9dQZF1DWWMOmoXKqHTD" 	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FAC62C49-EF78-4A50-894E-6017F8DEE325</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>064871A4-D550-4CA3-9CFE-3F0232DCD6E2</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>1645</real>
		</dict>
		<key>139ABC17-672A-4E01-8C38-18B50DE267FF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Previous track, back</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>1A935E69-25C6-44B0-BFEB-BDACD335104C</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>24D2C2E9-2535-4982-B30D-0BB8CFD736FE</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Next track, skip</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>31452AC8-F971-4716-A52C-1C1F8FB4080A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Spotify volume up</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>333C09C9-2BF0-45D6-8DCB-FEB59276342E</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>35233D1A-C0E9-4E50-AA3D-0C8EF44CE05C</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>436C180D-D31E-4C07-96E1-FD0644B2E66E</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>4936E16A-2057-4B49-AD6C-AD9F297A14AF</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4A4CB0A7-E167-4A2D-BEAA-7EF2047D14B4</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>4D807ACE-4758-4FEF-9C44-EE0FEAA40AD1</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>6232DA68-D819-41AA-9283-4ABC7F92DB8B</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1455</real>
		</dict>
		<key>62E4606F-875D-448E-BFF9-E0402F6A2ADB</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>1835</real>
		</dict>
		<key>6599A00D-9346-41A9-8172-A110FF4CFDAD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Copies Spotify URL</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>70C2F258-A406-407C-944B-6A0A1C0E83BC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Displays what the song, album and artist name</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1640</real>
		</dict>
		<key>70FAC2C4-3525-4C13-A053-D271B83A9241</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Spotify volume down</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>737209D4-4DFE-4766-9A5F-205CA96F4B0B</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>7781E95D-3877-45D0-9E87-AD7712229D50</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>1455</real>
		</dict>
		<key>7ADF8BF5-4EE5-4177-AF8D-CA8B7F389287</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Toggle loop</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1455</real>
		</dict>
		<key>842DCE9C-8D9D-4A15-B862-02DC3271444A</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>8AEDEA42-3DFE-4C2C-9E17-D488E6FFF2FC</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1455</real>
		</dict>
		<key>8D0F1CE2-2958-4CA6-989D-09333E6537AE</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>8F5E3A47-1553-4F33-8E47-E5CEAC7A0C96</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>93532B18-93CF-45F0-98BB-71D339C74495</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Plays the preset playlist</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1835</real>
		</dict>
		<key>9354AEE7-97C4-4006-96DC-4E38E150B613</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>A01F3477-A60F-4B47-8F14-95840F6AF8D8</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>A37EC2DE-5CA6-4329-83B4-553E1E73D4BE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Quit Spotify</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>AF36C9A8-2ED7-4FCE-A6B6-DFE8B9BCAB67</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>B255863F-7CF4-4A12-9CFB-7C8DBE5CBF06</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>B53D5059-10EC-4C12-BCF1-AF8D19314A93</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>1645</real>
		</dict>
		<key>B93B1787-129D-4C94-BC18-AC24CA8240B8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Toggle shuffle</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>CAC80AA5-7BB6-436F-B376-26613F2C3B28</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>1835</real>
		</dict>
		<key>CF7C5E78-EA2B-4021-8F9E-B9C152398C9B</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>1980</real>
		</dict>
		<key>DF020392-5D15-4623-8C50-A7A4DC86AE79</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Plays the preset playlist</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1980</real>
		</dict>
		<key>E1616286-7487-41CA-B329-949244D618C2</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>1455</real>
		</dict>
		<key>EACE22A3-29FA-4CA9-A089-56F93E5DEE33</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>EE5D19AA-1D1E-4BC0-80AB-6714C15079BA</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>EF890109-FC8F-4357-BD5F-8C804D9E893A</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>FA22A0B6-4E8F-4546-ACB3-3F01F01248AA</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>FA7CACFE-A946-432A-922C-79D6BC758125</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Play/pause track, launches spotify when the app is not running</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>FAC62C49-EF78-4A50-894E-6017F8DEE325</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>1980</real>
		</dict>
		<key>FCA72EF2-FA51-4883-82E2-6F2ABC8306F0</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>FCF0FB26-4A16-4232-9CBD-D26212BC3120</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>FDFF9E76-EEF9-423A-9FCA-C427B817EE1A</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
