<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoExpandSnippetPlaySound</key>
	<false/>
	<key>autoExpandSnippetSound</key>
	<string>Hero</string>
	<key>autoExpandSnippetTriggerPlaySound</key>
	<false/>
	<key>clearKeywordEnabled</key>
	<false/>
	<key>hotkey</key>
	<dict>
		<key>key</key>
		<integer>-1</integer>
		<key>mod</key>
		<integer>-1</integer>
		<key>string</key>
		<string></string>
	</dict>
	<key>ignoreRemoteClipboard</key>
	<true/>
	<key>snippetMatchFields</key>
	<integer>1</integer>
	<key>snippetMatchWordBased</key>
	<false/>
	<key>viewerKeywordEnabled</key>
	<false/>
</dict>
</plist>
