<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dokiy.workflow.jsontools</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>05019A18-2A0E-4401-89A8-BE6369036C8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62DE973C-F18A-467C-9DF2-4BF01668B63C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>080C2758-0A42-4BDD-98FE-4C85AFEDD891</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05019A18-2A0E-4401-89A8-BE6369036C8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29DEB456-3AF0-4ABE-9815-9D2CEC28211D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A42F0EE-08AE-45F2-A331-7CBF89AF042D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A42F0EE-08AE-45F2-A331-7CBF89AF042D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E9F9C8-0E88-4441-B1F0-5AFBD98AFD09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62DE973C-F18A-467C-9DF2-4BF01668B63C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9493815B-1A7E-4E58-9C51-8F3A50A7A8B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D7B0AA1-47F9-40BA-9723-04415FBF7723</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F30DFA8C-F299-4C10-ABCA-7B692C86A7C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9493815B-1A7E-4E58-9C51-8F3A50A7A8B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9DFD675-5A14-4375-9DE9-9F84BF294674</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9DFD675-5A14-4375-9DE9-9F84BF294674</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4ACB3F3-670D-4ABC-A197-66F5B5639FE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BC7FEC1-045A-47DD-AFE5-87B07DE70F95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE608970-4B0D-45F8-90C7-9E6F5E89F409</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBEC1E48-BE80-40A4-BF31-3ABEBE3BD668</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5CB3998-1798-4DD4-B330-D41E69039BD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9493815B-1A7E-4E58-9C51-8F3A50A7A8B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2E9F9C8-0E88-4441-B1F0-5AFBD98AFD09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9493815B-1A7E-4E58-9C51-8F3A50A7A8B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E87FB258-C97A-4B4E-8D44-0EABCAD84E3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9493815B-1A7E-4E58-9C51-8F3A50A7A8B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F30DFA8C-F299-4C10-ABCA-7B692C86A7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5CB3998-1798-4DD4-B330-D41E69039BD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBEC1E48-BE80-40A4-BF31-3ABEBE3BD668</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E87FB258-C97A-4B4E-8D44-0EABCAD84E3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dokiy</string>
	<key>description</key>
	<string>Some JSON tools</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSON Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>101</integer>
				<key>script</key>
				<string>require 'json'

begin
	puts JSON.pretty_generate(JSON.parse(ARGV[0]))
rescue =&gt; e
	puts "false"
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62DE973C-F18A-467C-9DF2-4BF01668B63C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json pretty</string>
				<key>subtext</key>
				<string>Format and paste JSON on clipboard</string>
				<key>text</key>
				<string>JSON pretty</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>080C2758-0A42-4BDD-98FE-4C85AFEDD891</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05019A18-2A0E-4401-89A8-BE6369036C8F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F30DFA8C-F299-4C10-ABCA-7B692C86A7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json compact</string>
				<key>subtext</key>
				<string>Compact and paste JSON on clipboard</string>
				<key>text</key>
				<string>JSON compact</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D7B0AA1-47F9-40BA-9723-04415FBF7723</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>101</integer>
				<key>script</key>
				<string>require 'json'

begin
	puts JSON.parse(ARGV[0]).to_json
rescue =&gt; e
	puts "false"
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5CB3998-1798-4DD4-B330-D41E69039BD3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Pretty JSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C4ACB3F3-670D-4ABC-A197-66F5B5639FE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>END</string>
						<key>uid</key>
						<string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>{query}</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B9DFD675-5A14-4375-9DE9-9F84BF294674</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>9493815B-1A7E-4E58-9C51-8F3A50A7A8B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2BC7FEC1-045A-47DD-AFE5-87B07DE70F95</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>101</integer>
				<key>script</key>
				<string>eval $(/usr/libexec/path_helper -s)
eval "$($SHELL -i -l -c 'echo -e "\n"PATH=\"$PATH:\$PATH\""\n"' 2&gt;/dev/null | grep "^PATH=")"
export PATH

if command -v node &gt;/dev/null 2&gt;&amp;1; then
    node -e "console.log(JSON.stringify(JSON.parse($1), null, 2))"
else
	echo $'{
    "items":[
      {
        "title": "Couldn\'t find the `node` binary",
        "subtitle": "Symlink it to `/usr/local/bin`"
      }
    ]
  }'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E87FB258-C97A-4B4E-8D44-0EABCAD84E3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json unescape</string>
				<key>subtext</key>
				<string>Unescape and paste JSON on clipboard</string>
				<key>text</key>
				<string>JSON unescape</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE608970-4B0D-45F8-90C7-9E6F5E89F409</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBEC1E48-BE80-40A4-BF31-3ABEBE3BD668</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A42F0EE-08AE-45F2-A331-7CBF89AF042D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json escape</string>
				<key>subtext</key>
				<string>Escape and paste JSON on clipboard</string>
				<key>text</key>
				<string>JSON escape</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29DEB456-3AF0-4ABE-9815-9D2CEC28211D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>101</integer>
				<key>script</key>
				<string>require 'json'

begin
	p JSON.parse(ARGV[0]).to_json
rescue =&gt; e
	puts "false"
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E2E9F9C8-0E88-4441-B1F0-5AFBD98AFD09</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Some JSON tools implement by ruby. 
Include format, compact, escape, unescape.</string>
	<key>uidata</key>
	<dict>
		<key>05019A18-2A0E-4401-89A8-BE6369036C8F</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>080C2758-0A42-4BDD-98FE-4C85AFEDD891</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>29DEB456-3AF0-4ABE-9815-9D2CEC28211D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>2BC7FEC1-045A-47DD-AFE5-87B07DE70F95</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>4A42F0EE-08AE-45F2-A331-7CBF89AF042D</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>62DE973C-F18A-467C-9DF2-4BF01668B63C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7D7B0AA1-47F9-40BA-9723-04415FBF7723</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>9493815B-1A7E-4E58-9C51-8F3A50A7A8B5</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>B9DFD675-5A14-4375-9DE9-9F84BF294674</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BE608970-4B0D-45F8-90C7-9E6F5E89F409</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>C4ACB3F3-670D-4ABC-A197-66F5B5639FE7</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>C5CB3998-1798-4DD4-B330-D41E69039BD3</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>E2E9F9C8-0E88-4441-B1F0-5AFBD98AFD09</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>E87FB258-C97A-4B4E-8D44-0EABCAD84E3C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>F30DFA8C-F299-4C10-ABCA-7B692C86A7C4</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>FBEC1E48-BE80-40A4-BF31-3ABEBE3BD668</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
